
/*ABOVE 990 PX*/
@media only screen and (min-width: 990px){

}

/*BELOW 990 PX*/
@media only screen and (max-width: 990px){
    
}

/*ABOVE 767 PX*/
@media only screen and (min-width: 767px){
    #posted-by{
        font-size: 13px;
    }
}

/*BELOW 767 PX*/
@media only screen and (max-width: 767px){
    #posted-by{
        font-size: 12px;
    }
}

/*ABOVE 510 PX*/
@media only screen and (min-width: 510px){
    
}

/*BELOW 510 PX*/
@media only screen and (max-width: 510px){
    #posted-by{
        font-size: 10px;
    }
}